<script>$(document).foundation();</script>
<% @proper_title = 'layouts/title_blog' %>
<div class="row margin-top">
	<div class="large-12 columns">
		<!-- Subscribe Button -->
		<div class="row">
			<div class="small-9 columns">
				<input type="text" placeholder="Your Email">
			</div>
			<div class="small-3 columns">
				<a href="#" class="button">Subscribe</a>
			</div>
		</div>
		<div class="row">
			<div class="large-2 small-2 columns">
				<%= image_tag("logo.png", alt: "Erica Wolverton Blog", :class => "circleimage") %>  		
			</div>

			<div class="large-10 small-10 columns">
				<div class="introtext">
					<p id="intro"><strong>Hello,</strong><br>Thank you for peeking in on my virtual note passing between all of our dear parents and dear teachers.  I write these letters from two perspectives in an effort to deepen understandings and to encourage compassionate conversations between the people who matter most in the lives of children - families and teachers. These compassionate letters will serve to make schools better for our kids, better for our teachers and better for the families schools serve.  Just like in the days when we were passing notes in the hallways of our own schools, we can have compassionate conversations to make our  schools great.  <br>Compassionately yours,<br>Erica</p>
				</div>
			</div>
		</div>
		<% # Find the number of highest position and store into @newest_parent_blog %>
		<% count = [] %>
		<% @posts.each do |post| %>	
			<% if post.section == 'parent' %>
				<% count.push(post.position) %>	
			<% end %>			
		<% end %>	
		<% @newest_parent_blog = count.max %>

		<% # Fill in html with most recent parent %>
		<% @posts.each do |post| %>
			<% if post.position == @newest_parent_blog and post.section == 'parent'%>
				<div class="TextBox">
					<div class="datebox">
						<p><%= post.date %></p>
					</div>
					<h4>Dear Parent </h4>
					<p><%= simple_format post.body %></p>
				</div>
			<% end %>
		<% end %>

		<% # Find the number of most recent teacher post and store into @newest_teacher_blog %>
		<% count = [] %>
		<% @posts.each do |post| %>	
			<% if post.section == 'teacher' %>
				<% count.push(post.position) %>	
			<% end %>			
		<% end %>	
		<% @newest_teacher_blog = count.max %>

		<% # Fill in html with most recent teacher %>
		<% @posts.each do |post| %>
			<% if post.position == @newest_teacher_blog and post.section == 'teacher'%>
				<div class="TextBox">
					<div class="datebox">
						<p><%= post.date %></p>
					</div>
					<h4>Dear Teacher </h4>
					<p><%= simple_format post.body %></p>
				</div>
			<% end %>
		<% end %>
		<!--end TextBox!-->
	</div>
</div>