<% @proper_title = 'layouts/title' %>
<div id="post_content">
	<h1 class="title"><%= @post.title %></h1>
	<p class="date">
		Submitted <%= time_ago_in_words(@post.created_at) %> Ago
		| <%= link_to 'Edit', edit_post_path(@post) %> |
		  <%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %>
	</p>
	<p class="body"><%= simple_format @post.body %></p>
	<h3>Date:</h3>
	<p><%= @post.date %></p>

	<h3>Section:</h3>
	<p><%= @post.section %></p>

	<h3>position</h3>
	<p><%= @post.position %></p>
</div>