<script>$(document).foundation();</script>
<% @proper_title = 'layouts/title' %>
<div class="row margin-top">
	<div class="large-12 columns TextBox padding">
    <div class="right"><a href="docs/services.pdf" target="_blank">(download .pdf)</a></div>				
    <h4>Let me help.<br> Here's what our partnership will offer you:</h4>
    <ul>
        <li>Deep knowledge about ways to identify your <strong>child’s greatest areas of strength</strong> and greatest opportunities for growth.</li>
        <li>Detailed information about specific areas for growth as well as <strong>strategies</strong> to improve each growth area.</li>
        <li>An <strong>action plan</strong> you can use within the family and with schools and coaches.</li>
        <li>Advocacy for  your child who will gain the ability to speak up about his or her strengths and needs as a learner.</li>
        <li>Compassionate listening from me when the learning process becomes frustrating and overwhelming for your child or for you.</li>
        <li>Partnership as an advocate and an ally at school meetings or teacher conversations.</li>
    </ul> 
    <h4>Sometimes something simple is needed: </h4>                                     
    <div class="row">
      <div class="large-3 columns">
        <%= image_tag("Emi.jpg", alt: "Erica Wolverton Blog", :class => "servicesimage") %>
      </div>
      <div class="large-9 columns"> 
      <p>"Pedro had very low test scores because he was a very social boy who had a difficult time sitting for long lengths of time.  When Erica facilitated permission for him to take his own frequent breaks to get up and go tell other teachers and allies in the school about his progress, his score jumped an amazing 20 points.”  He was so proud his progress.  It was the first time he did not feel shame about testing.</p>
      </div>
    </div>
    <br
>    <div class="row">
      <div class="large-9 columns">
         <p> “Sara struggled to regulate her emotions.  Sad and happy events made her cry and her frequent crying got in the way of her learning.  Sara and Erica created a comfort basket which contained a journal, markers, a favorite stuffed animal and a photo of her family.  Whenever Sara struggled to regain control of her emotions she had permission to retreat to a comfy corner with her basket.”  She felt empowered and nurtured by this basket, which helped her access her learning again.</p>
      </div>
      <div class="large-3 columns">   
           <%= image_tag("Catarinanocrop.jpg", alt: "Erica Wolverton Blog", :class => "servicesimage") %> 
      </div>
    </div>
    <h4>Sometimes something more complicated is required: </h4>
    <div class="row">
      <div class="large-3 columns">
      <%= image_tag("Maria.jpg", alt: "Erica Wolverton Blog", :class => "servicesimage") %>
      </div>
      <div class="large-9 columns"> 
      <p>Isabella was academically and emotionally mature for her age.  She loved being in fourth grade and she tried very hard to fit in but her peer group was not a great match for her.  She felt alone and isolated.  After extensive observation, assessments and conversations with Isabella's learning team,  Erica advocated for Isabella to move to the next grade level.  This decision was the best decision for Isabella.  She is now thriving in a peer group that supports her needs academically and socially.”</p>

      </div>
    </div>
    <div class="row">
      <div class="large-9 columns">
      <p>“Fifth grade Elizabeth struggled daily to understand mathematical concepts but she was very gifted in writing.  The school had a hard time meeting her very diverse needs.  Erica advocated for Elizabeth to get support from the learning specialist in math AND, at the same time, she created a partnership between Elizabeth and  the high school drama teacher to support Elizabeth’s extraordinary playwright strengths.  By the end of the year the high school drama students even produced one of Elizabeth’s plays.”</p>
      </div>
      <div class="large-3 columns">   
        <%= image_tag("Anna.jpg", alt: "Erica Wolverton Blog", :class => "servicesimage") %> 
      </div>
    </div>    
    <a href="contact.php">(Contact me)</a>
    <br>
    <br>
  
    <div class="row">
      <div class="assessmentbox fixlength columns large-4 medium-12 small-12">
        <h4 class="text-center">Consulting</h4>

        <p>Hourly consultation as needed. Support may include:</p>
        <ul>
          <li>Decision making for school placements or transitions</li>
          <li>Choosing next steps for a struggling or gifted learner</li>
          <li>Navigating developmental changes and growth</li>
          <li>Problem solving small areas of concern</li>
          <li>Support for uncertainty</li>
          <li>Processing and practicing difficult conversations</li>
          <li>Empowerment for self-advocacy</li>
        </ul>
        <br>
        <div class="dissapear-on-medium">
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
        </div>
        <br>
        <h4>$60.00 / hour</h4>
        <p>Conversations may take place at my office, on the phone or long distance via Skype, Facetime or Google Hangout.</p>
        <a href="contact.php">(Contact me)</a>
      </div>      
      
      <div class="assessmentbox fixlength columns large-4 medium-12 small-12">
        <h4 class="text-center">Educational <br> Advocacy / Coaching</h4>
        <p>On-going Advocacy or Coaching as needed.  Services will be dependent on the needs of the child and the family. We will co-create an action plan which may include:</p>
        <ul>
          <li>Empowerment coaching to help you learn to advocate for your child and to help your child become a self -advocate</li>
          <li>One-one work with child for academic or social/emotional needs</li>
          <li>IEP/504 support</li>
          <li>On-going support for family</li>
          <li>Classroom learning observations</li>
          <li>Home behavior observations</li>
          <li>Social interaction observation and/or meetings with school</li>
          <li>Support for school conferences</li>
          <li>Phone calls and check-ins as needed</li>
        </ul>
        <br>
        <h4>Fees assessed monthly depending on needs</h4>
        <p>Schedule your free 20 minute consultation now.</p>
        <br>
        <a class="nudgeup" href="contact.php">(Contact me)</a>
      </div>      
      
      <div class="assessmentbox fixlength columns large-4 medium-12 small-12">
        <h4 class="text-center">Strengths Assessment</h4>
        <p>Includes a full Strength Based Assessment of neurodevelopmental functioning which will give you deep insight into your child’s strengths. This assessment can be used to inform intervention as well as to communicate your child’s strengths and challenges with teachers and schools.</p>
        <br>
        <p>This in-depth assessment will include:</p>
        <ul>
          <li>On-line strengths based assessment for student and parents</li>
          <li>Data analysis and interpretation</li>
          <li>Learning profile of strengths and areas for growth</li>
          <li>Co-creation of an Action Plan</li>
          <li>Family Conference</li>
          <li>School Conference (as needed or requested for extra fee)</li>
        </ul>
        <br>
        <br>
        <h4>One Time Fee - $500</h4>
        <p>$150.00 Discount for Bellingham Public School Families</p>
        <br>
        <br>
        
        <a href="contact.php">(Contact me)</a>
      </div>
    </div>
    <br>
    <br>
    <h4>In partnering with me, you can expect these results:</h4>
    <div class="row">
      <div class="large-9 columns">
      <p class="quote">"After working with Erica for just a short time, we saw a great <strong>improvement in our daughter’s math scores</strong> as well as in her attitude towards the subject area. She was much more comfortable and confident in approaching problems because of the <strong>strategies and skills Erica taught.</strong> We were delighted to see how Erica’s work with our daughter went beyond the classroom walls as she helped build her self esteem to be able to better handle social situations. Today, our daughter is a strong, confident and academically successful pre-teen and a good part of that is thanks to Erica. Not only did she teach our daughter strategies, the time she spent with me has helped me be more aware of and supportive in developing these attributes in our daughter." - Alexis, Parent, Argentina</p>
      </div>
      <div class="large-3 columns">
        <%= image_tag("Alexis.jpg", alt: "Erica Wolverton Blog", :class => "servicesimage") %>          
      </div>
    </div>
    <div class="row">
      <div class="large-3 columns">
        <%= image_tag("Chris.jpg", alt: "Erica Wolverton Blog", :class => "servicesimage") %> 
      </div>
      <div class="large-9 columns">
      <p class="quote">"We can't thank you enough for making Julia's transition successful.  You gave her just the right amount of encouragement, support and tools tempered with accountability and boundaries.  The birdling found her wings and flew.  Julia wasn't the only one who benefited from your support, encouragement and great sense of humor and openness.  Our whole family has benefited in working with you.  Lily, parent, The Gardner School</p>     
      </div>
    </div>

    <div class="text-center">
      <%= image_tag("childtestimonial.jpg", alt: "Erica Wolverton") %>  
    </div>
    <h4>How can I help you? </h4>
    <a href="contact.php">(Contact me)</a>
  </div>
</div>



